@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');

html {
    font-family: "Playwrite PL", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: aqua;
}